--- 
search: true
--- 

// woodwell type faces
$ginto: "ginto";
$ginto-medium: "ginto-medium";
$ginto-bold: "ginto-bold";
$ginto-italic: "ginto-italic";

$global-font-family: $ginto !default;
$global-font-family-medium: $ginto-medium !default;
$header-font-family: $ginto-bold !default;
$caption-font-family: $ginto-italic !default;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


@font-face {
    font-family: "ginto";
    src: url("../fonts/GintoNormal-Regular.ttf");
}

@font-face {
    font-family: "ginto-medium";
    src: url("../fonts/GintoNormal-Medium.ttf");
}

@font-face {
    font-family: "ginto-bold";
    src: url("../fonts/GintoNormal-Bold.ttf");
}

@font-face {
    font-family: "ginto-italic";
    src: url("../fonts/GintoNormal-RegularIta.ttf");
}

body,
p,
li,
input,
footer li,
button,
select,
textarea,
dt,
dd,
div.highlighter-rouge,
figure.highlight,
.archive__item-title,
.author__urls-wrapper,
.breadcrumbs,
.btn,
.nav__title,
.page__footer-copyright,
.page__footer-follow.ul,
.page__lead,
.page__meta,
.skip-link,
.sidebar .author__name,
.sidebar li,
.sidebar p 
.toc {
    font-family: $global-font-family;
}

.masthead {
    &__inner-wrap {
        font-family: $global-font-family;
    }
}

.pagination {
    ul {
        font-family: $global-font-family;
    } 
    
    li {
        a {
            font-family: $global-font-family;
        }
    }

    &--pager {
        font-family: $global-font-family;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav
.nav__list .nav__items a,
.nav__sub-title {
    font-family: $global-font-family-medium;
}

.page__content {
    p,
    li,
    dl {
        font-size: 0.8em;
    }
}

.sidebar p, .sidebar li {
    font-size: 0.8em;
}